
/*返回首页*/
.nav {
    background: #fff;
    width: 100%;
    height: 100px;
    font-size: 30px;
    line-height: 100px;
    text-align: center;
    border-bottom: 1px solid #18BC9C;
    margin-bottom: 10px;
    position: relative;
    top: 0;
    left: 0;
}

.nav .toindex {
    position: absolute;
    top: 50px;
    right: 40px;
    font-size: 14px;
    line-height: 18px;
    border: 1px solid #fff;
    background-color: #2C3E50;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 3px 5px;

}

.nav .toindex a {
    color: #fff;
}

.nav .toindex:hover {
    color: #fff;
    font-size: 15px;
    border: 1px solid #ccc;
    background-color: #18BC9C;
}

.box {
    margin: 0 auto;
    width: 80%;
}

@media (max-width: 1000px) {
    .box .fl_l {
        display: none;
    }

    .fl_r {
        width: 100%;
        margin: 0 auto;
    }
}

.fl_l {
    width: 150px;
    float: left;
    border: 1px solid #f4f4f4;
    background: #fff;
}

.fl_l li a {
    border-bottom: 1px solid #eee;
    text-align: center;
    display: block;
    color: #333;
    font-size: 14px;
    line-height: 60px;
}

.fl_l li.active a {
    background: #18BC9C;
    color: #fff;
}

.fl_r {
    float: right;
    width: 80%;
}

.fl_r li {
    margin-bottom: 30px;
    background: #fff;
    font-size: 20px;
    line-height: 40px;
    display: block;
    text-align: center;
    padding: 30px 0;
}

.fl_r li p, .fl_r h4 {
    padding: 0 100px;
}

.fl_r li a {
    color: #cccccc;

}

.fl_r li a:hover {
    color: #18BC9C;
}



.fl_r li img {
    width: 90%;
    border-bottom: 1px solid #eee;
    padding: 30px 0;
}

.banner {
    background: #fff;
    width: 100%;
    height: 600px;
    font-size: 40px;
    line-height: 600px;
    text-align: center;
    margin-bottom: 30px;
}
/*返回顶部小图标*/


#top{
    position:fixed;
    bottom: 80px;
    right:50px;
    width: 50px;
    height: 50px;
    background: url("../img/top.png") no-repeat ;
    /*opacity:.2;*/
    border-radius:10px;
    display: none;
    cursor: pointer;
}
