<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>HY008教程引导</title>
    <link rel="stylesheet" href="../vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../vendor/bootstrap/css/docs.css">
    <link href="../css/base.css" rel="stylesheet" type="text/css">
    <link href="jquery.treemenu.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../css/paylesson.css">
    <!--<script src="../vendor/art-template/template-web.js"></script>-->

</head>


<body>
    <!--<script id="test" type="text/html">
        <% if (user) { %> <% } %>
    </script>-->
<div class="container bs-docs-container" data-example-id="embedded-scrollspy">
    <div class="row" role="complementary">
        <!--step details-->
        <div class="t-step-details col-md-9 col-sm-9 " id="article" ></div>
        <!--nav-->
        <div class="col-md-3">
            <nav id="navbar-example" class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix">
                <ul class="tree  bs-docs-sidenav" id="tree_menu"></ul>
            </nav>
            <div id="top"></div>
        </div>
    </div>

</div>

</body>
</html>

<script src="jquery-1.11.2.min.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="jquery.treemenu.js"></script>
<script src="../js/lyl.js"></script>

<script>
    $(function () {
        $(".tree").treemenu({delay: 300}).openActive();
        addItem_Id(id_name);

    });
</script>


