<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>HY008教程引导</title>
    <link rel="stylesheet" href="../vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../vendor/bootstrap/css/docs.css">
    <link href="../css/base.css" rel="stylesheet" type="text/css">
    <link href="jquery.treemenu.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../css/paylesson.css">
    <!--<script src="../vendor/art-template/template-web.js"></script>-->

</head>


<body>
    <script id="test" type="text/html">
        <% if (user) { %>


        <% } %>

    </script>
<div class="container bs-docs-container" data-example-id="embedded-scrollspy">
    <div class="row" role="complementary">
        <!--step details-->
        <div class="t-step-details col-md-9 col-sm-9 " id="article" >

            <!--第一篇教程开始-->

            <div class=" bs-docs-section col-sm-10 col-md-10 col-md-offset-1 col-xs-offset-1">

                <h2 class=" page-header bs-docs-header" id="j_title">1.HY008安装教程详解 [BY蚂蚁]</h2>

                <!--单步1开始-->
                <div class="thumbnail ">
                    <div class="bs-callout bs-callout-danger">
                        <h3 id="j_step"> 步骤1.获得外挂压缩包</h3>
                        <p id="j_des">付费后的用户将会通过QQ得到一个压缩包（完整版），如图:图中的文件名称中带有的版本号和日期可能有所不同</p>
                    </div>
                    <img id="j_img" src="../img/Setup01.png" alt="" class="center-block">
                </div>
                <!--单步1结束-->

                <!--单步2开始-->
                <div class="thumbnail ">
                    <div class="bs-callout bs-callout-warning">
                        <h3> 步骤2.解压缩</h3>
                        <p>必须解压缩到文件夹，不能在压缩包中直接运行。直接解压缩到硬盘，最好不要放在C盘，不然系统重装就没了，本软件是绿色完整版，比如在D盘，就算系统重装后，直接使用就行了。
                            解压缩后得到下图所示文件列表：启动外挂的图标很显眼，一看就知道了（He008(*)Fight.exe）不同版本可能名称有所不同</p>
                    </div>
                    <img src="../img/Setup02.png" alt="" class="center-block">
                </div>
                <!--单步2结束-->

                <!--单步3开始-->
                <div class="thumbnail ">
                    <div class="bs-callout bs-callout-info">
                        <h3> 步骤3.设置游戏客户端路径</h3>
                        <p>首次运行会弹出一个设置路径的窗口，如图：红线已标明了，就是要让外挂找到游戏客户端在什么地方，好读取所需要的文件，所以，游戏客户端的路径选择应该如左图所示：</p>
                    </div>
                    <img src="../img/Setup03.png" alt="" class="center-block">
                </div>
                <!--单步3结束-->
            </div>
            <!--第一篇教程结束-->

            <!--第二篇教程开始-->
            <div class=" bs-docs-section  col-sm-10 col-md-10 col-md-offset-1 col-xs-offset-1">
                <h2 class="page-header bs-docs-header">2.HY008设置教程详解 [BY蚂蚁]</h2>

                <!--单步1开始-->
                <div class="thumbnail">
                    <div class="bs-callout bs-callout-danger">
                        <h3> 步骤1.登录</h3>
                        <p>填写好帐号、密码，选择好角色，点击“登录”</p>
                    </div>
                    <img src="../img/Setup08.png" alt="" class="center-block">
                </div>
                <!--单步1结束-->

                <!--单步2开始-->
                <div class="thumbnail">
                    <div class="bs-callout bs-callout-warning">
                        <h3> 步骤2.打开角色窗口</h3>
                        <p>双击选中的行，可以打开角色窗口</p>
                    </div>
                    <img src="../img/Setup10.png" alt="" class="center-block">
                </div>
                <!--单步2结束-->

                <!--单步3开始-->
                <div class="thumbnail">
                    <div class="bs-callout bs-callout-info">
                        <h3> 步骤3.修理装备</h3>
                        <p>接下来先设置【装备修理】，在【装备栏】某个装备上点击【鼠标右键】，会有菜单提示，逐个设置就行了。</p>
                    </div>
                    <img src="../img/Setup03.png" alt="" class="center-block">
                </div>
                <!--单步3结束-->
            </div>
            <!--第二篇教程结束-->
        </div>
        <!--nav-->
        <div class="col-md-3">
            <nav id="navbar-example" class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix-top">
                <ul class="tree  bs-docs-sidenav" id="tree_menu">
                    <li><a id="j_nav_title">1.安装教程</a>
                        <ul>
                            <li><a id="j_nav_step" class="active">步骤1.获得外挂压缩包</a></li>
                            <li><a>步骤2.解压缩</a></li>
                            <li><a>步骤3.设置游戏客户端路径</a></li>
                        </ul>
                    </li>

                    <li><a>2.设置教程</a>
                        <ul>
                            <li><a>步骤1.登录 </a></li>
                            <li><a>步骤2.打开角色窗口</a></li>
                            <li><a>步骤3.修理装备</a></li>
                        </ul>
                    </li>

                </ul>
            </nav>
            <div id="top"></div>
        </div>
    </div>

</div>

</body>
</html>

<script src="jquery-1.11.2.min.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="jquery.treemenu.js"></script>
<script src="../js/lyl.js"></script>

<script>
    $(function () {
        $(".tree").treemenu({delay: 300}).openActive();

        var id_name = ['install', 'set'];
        addItem_Id(id_name);
        toTop();
    });
</script>
<!--<script>
    $(function(){
        removeSection = function(e) {
            $(e).parents(".bs-docs-section").remove();
            $('[data-spy="scroll"]').each(function () {
                var $spy = $(this).scrollspy('refresh')
            });
        }
        $("#myScrollspy").scrollspy();
    });
</script>-->
