<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>HY008帮助文档</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="黄易008官服龙图智库-诸神之战，官服龙图智库-雷霆万钧，官服龙图智库-雷霆光速，私服 怀旧，私服 游民(一区/二区)，私服 激情黄易，台服-水星通过QQ群找群主获得、下载、购买（群主-热锅上的小蚂蚁），QQ群：艳阳旋风群4-官私服 群号：221477644"/>
    <meta name="Keywords"
          content="黄易群侠传，黄易008战斗版，内嵌版，任务版，采集版，脱机战斗版，脱机任务版，内嵌版，脱机采集版，服务器，龙图智库，黄易008官服龙图智库-诸神之战，官服龙图智库-雷霆万钧，官服龙图智库-雷霆光速，私服 怀旧，激情黄易，台服-水星，台湾008，台服008，台湾，黄易008，QQ群号：221477644"/>
    <meta name="baidu-site-verification" content="eemk3l5uRF"/>

    <title>黄易008外挂战斗版，内嵌版，任务版，采集版</title>
    <link rel="shortcut icon" type="image/x-icon" href="../img/favicon.ico" media="screen"/>
    <link rel="stylesheet" href="../vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../vendor/bootstrap/css/docs.css">
    <link href="../css/base.css" rel="stylesheet" type="text/css">
    <link href="../css/jquery.treemenu.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../css/tutorial.css">
    <!--<script src="../vendor/art-template/template-web.js"></script>-->

</head>


<body>
    <!--<script id="test" type="text/html">
        <% if (user) { %> <% } %>
    </script>-->
<div class="container bs-docs-container" data-example-id="embedded-scrollspy">
    <div class="row" role="complementary">
        <!--step details-->
        <div class="t-step-details col-md-9 col-sm-9 " id="article" ></div>
        <!--nav-->
        <div class="col-md-3">
            <nav id="navbar-example" class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix">
                <span class="to-index"><a href="http://hy008.top/index.html">返回首页</a></span>

                <ul class="tree  bs-docs-sidenav" id="tree_menu"></ul>
            </nav>
            <div id="top"></div>
        </div>
    </div>

</div>

</body>
</html>

<script src="../vendor/jquery/jquery-1.11.2.min.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="../js/jquery.treemenu.js"></script>
<script src="../js/lyl.js"></script>

<script>
    $(function () {
        $(".tree").treemenu({delay: 300}).openActive();
        addItem_Id(id_name);

    });
</script>


